Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/
*.uproject.DotSettings.user
Plugins/Developer/
Plugins/HoudiniEngine/
*_bak[0-9].hiplc
*_bak[0-9][0-9].hiplc
*_bak[0-9].hdalc
*_bak[0-9][0-9].hdalc
*.tga~
*.kra~
*.png~
*.blend1
.autosave/
*.resources/




Content/Asian_Village/maps/Asian_Village_Demo_BuiltData.uasset
Content/Japanese_Temple/maps/Japanese_Temple_Demo_BuiltData.uasset
Content/stylized_castle/maps/stylized_castle_demo_BuiltData.uasset
Content/Underworld/Maps/Underworld_demo_BuiltData.uasset
